<nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="/big-book/en_bigbook_toc">Big Book Studies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Original
          </a>
          <ul class="dropdown-menu">
  {%- for path in include.paths -%}
  {%- assign hyperpage = site.pages | where: "path", path | first -%}
  {%- if hyperpage.linktitle and hyperpage.isorig %}
            <li><a class="dropdown-item" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.linktitle | escape }}</a></li>
  {%- endif -%}
  {%- endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            1998-JC
          </a>
          <ul class="dropdown-menu">
  {%- for path in include.paths -%}
  {%- assign hyperpage = site.pages | where: "path", path | first -%}
  {%- if hyperpage.linktitle and hyperpage.is1998 %}
            <li><a class="dropdown-item" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.linktitle | escape }}</a></li>
  {%- endif -%}
  {%- endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
